@use '../abstracts/functions' as *;

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;

    margin: 0;
    padding: 0;

    &::before,
    &::after {
        box-sizing: border-box;
    }
}

html {
    font-family: Merriweather sans-serif;
    line-height: 1.5;

    color: $base-text;
}

body {
    font-size: rem(14);

    background-color: #F6F3F3;
}

html, body, #app {
    height: 100%;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;

    color: inherit;
}

input, button {
    font-family:  Merriweather sans-serif;;
}

