@use '../abstracts/functions' as *;

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;

    margin: 0;
    padding: 0;

    &::before,
    &::after {
        box-sizing: border-box;
    }
}

html {
    font-family: Merriweather sans-serif;

    color: $base-text;
}

html, body, #app {
    height: 100%;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;

    color: inherit;
}

